.navbar {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  min-height: 100px;
  display: flex;
  justify-content: space-between; /* Espacio entre logo y enlaces */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 1rem;
  background-color: #000; /* Color negro para la navbar */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; /* Asegúrate de que la navbar esté por encima de otros elementos */
}

.logo {
  display: flex; /* Asegura que el logo esté bien alineado */
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.cart-icon {
  position: relative;
}

.cart-icon a {
  display: flex;
  align-items: center;
  font-size: 24px; /* Aumenta el tamaño del icono del carrito */
}

.cart-total {
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 24px; /* Aumenta el tamaño del círculo */
  height: 24px; /* Aumenta el tamaño del círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px; /* Ajusta la posición superior */
  right: -10px; /* Ajusta la posición lateral */
  font-size: 14px; /* Ajusta el tamaño del número */
  font-weight: bold; /* Para que el número sea más visible */
}
