/* Contenedor principal */
.editList {
    width: 50%;
    margin: 120px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(197, 196, 196, 0.4); /* Fondo blanco con transparencia */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  /* Título */
  .editList h2 {
    font-size: 2.5rem; /* Tamaño de fuente grande */
    color: #1c302d; /* Color oscuro profesional */
    text-align: center; /* Centrado */
    margin-bottom: 20px; /* Espaciado inferior */
    font-weight: bold; /* Fuente negrita */
    letter-spacing: 2px; /* Espaciado entre letras */
    border-bottom: 2px solid #1c302d; /* Línea inferior */
    padding-bottom: 10px; /* Espaciado debajo del texto */
  }
  
  /* Lista de productos */
  .editList ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Cada producto */
  .productItem {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
    gap: 20px;
    transition: background-color 0.3s ease;
  }
  
  .productItem:last-child {
    border-bottom: none;
  }
  
  /* Imagen del producto */
  .productImage {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: contain;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1); /* Fondo blanco con transparencia */
  }
  
  /* Texto alternativo para imágenes no disponibles */
  .noImage {
    font-size: 14px;
    color: #888888;
    font-style: italic;
  }
  
  /* Detalles del producto */
  .productDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
    font-size: 16px;
    color: #333333;
  }
  
  .productDescription {
    font-size: 18px;
    font-weight: bold;
  }
  
  .productPrice {
    font-size: 16px;
    color: #1c302d; /* Verde */
    font-weight: bold;
  }
  
  .productStock,
  .productCategory {
    font-size: 16px;
    color: #1c302d; /* Gris */
  }
  
  /* Botones */
  .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .editButton,
  .deleteButton {
    padding: 10px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    width: 120px;
  }
  
  .editButton {
    background-color: #007bff; /* Azul */
  }
  
  .editButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  .deleteButton {
    background-color: #dc3545; /* Rojo */
  }
  
  .deleteButton:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .productItem {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .buttonsContainer {
      flex-direction: row;
      gap: 10px;
    }
  
    .editButton,
    .deleteButton {
      width: 48%;
    }
  }
  