/* src/components/MarketPage.css */
.market-container {
  padding: 20px;
  max-width: 1600px; /* Ajusta según el ancho deseado */
  width: 100%; /* Ocupar todo el ancho disponible hasta el límite de max-width */
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px; /* Opcional: añade algo de espacio interno */
}
 
.products-box {
  display: grid; /* Utiliza grid para un diseño similar a un marketplace */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el número de columnas según el espacio */
  gap: 20px; /* Espacio entre los productos */
}
 
.product-item {
  border: 1px solid #1c302d; /* Estilo de borde */
  padding: 10px;
  border-radius: 5px;
  background-color: grey; /* Color de fondo para cada producto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  display: flex; /* Flex para alinear la imagen y los detalles */
  flex-direction: column; /* Alinea verticalmente */
  align-items: center; /* Centra los elementos */
}
 
.product-image {
  width: 100%; /* Imagen ocupa el 100% del ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}
 
.product-details {
  text-align: center; /* Centra el texto */
}
 
.product-name {
  font-weight: bold;
  color: #1c302d;
}
 
.product-price {
  color: #1c302d;
}
 
.quantity-input {
  width: 60px; /* Ancho fijo para el campo de cantidad */
  margin: 10px 0; /* Espacio vertical */
}
 
.add-to-cart-button {
  background-color: #1c302d; /* Color verde para el botón */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
 
.add-to-cart-button:hover {
  background-color: #1c302d; /* Color más oscuro al pasar el mouse */
  color: #81b3ab;
}

.search-bar {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 60px auto; /* Espaciado superior e inferior */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.search-input-container {
  width: 100%;
  max-width: 1200px; /* Ajusta el máximo según el diseño */
}

.search-input-container input {
  width: 100%; /* Asegura que el input ocupe todo el ancho del contenedor */
  padding: 15px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  border: 1px solid #ccc; /* Borde sutil */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}
