#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem; 
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-links a:active {
  color: #61dafb; 
}

.title {
  position: absolute;
  padding: 10px;
  top: 5px;
  left: 5px;
  font-size: 48px;
  font-weight: "bold";
  color: white;
  background-color: maroon;
}

.addProduct {
  position: absolute;
  top: 100px;
  left: 5px;
}

.marketPlace {
  position: absolute;
  top: 100px;
  left: 5px;
}

.navbar .menu-icon {
  display: none; 
}

@media (max-width: 768px) {
 
  .navbar-links {
    display: none;
  }

  .navbar .menu-icon {
    display: block; 
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }

  
  .navbar.open .navbar-links {
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .navbar.open .navbar-links a {
    padding: 1rem 0;
  }
}