
/* Contenedor principal */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px; /* Espacio para la navbar fija */
}

/* Estilos de la lista de productos y carrito */
.product-list,
.cart {
  width: 48%;
}

/* Estilos generales de títulos */
h2 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* Estilo para la barra lateral de filtros */
.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

/* Estilos para los títulos de los filtros */
.filter-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

/* Botones para desplegar categorías y precios más finos */
.filter-button {
  display: flex;
  align-items: center;
  padding: 3px 5px; /* Botones más finos */
  margin-bottom: 0px; /* Eliminamos el margen aquí */
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.filter-button:hover {
  background-color: #e0e0e0;
}

/* Espaciado adicional entre los grupos de filtros */
.filter-group {
  margin-bottom: 30px; /* Ajusta este valor para mayor o menor espacio */
}

/* Estilos para las opciones desplegables */
.filter-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: black;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 8px;
}

/* Contenido principal */
.content {
  flex: 1;
}
